@import '~react-datepicker/src/stylesheets/datepicker.scss';
@import 'partials/fonts';
@import 'partials/semantic-ui';
@import 'partials/elements';
@import 'partials/forms';
@import 'partials/utilities';
@import 'partials/theme';

.errors-box {
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  padding: 1rem;
}
