@import '~antd/dist/antd.css';
@import '~semantic-ui-css/semantic.min.css';

.errors-box {
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  padding: 1rem;
}

// TODO: Move to partials/_utilities.scss once those are merged.
.whitespace-no-wrap {
  white-space: nowrap !important;
}
